---
import "../style.css"
---

<html lang="en">
	<head>
		
  		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

  		<meta name="mobile-web-app-capable" content="yes">
  		<meta name="apple-mobile-web-app-capable" content="yes">
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>GIPHY API</title>

		<!-- Manifest JSON  -->
		<link rel="manifest" href="manifest.json">

		<script src="../script.js"></script>

	</head>
	<body>
		
		
		<div class="container carousel">

			<!-- dynamically pull in GIPHY data -->
			
		</div>


	</body>
</html>
